%div{:id => "#{dom_id task}"}
  %p
    %strong Name:
    = task.name
  %p
    %strong Date:
    = task.date
  %p
    %strong Time:
    = task.time
  %p
    %strong Location:
    = task.location
  %p
    %strong Notes:
    = task.notes